import { PropsWithChildren } from 'react'

import { x, SystemProps } from '@xstyled/styled-components'

export type {{pascalCase name}}Props = {
  customProps?: string
} & SystemProps

const {{pascalCase name}} = ({ ...props }: PropsWithChildren<{{pascalCase name}}Props>) => {
  return (
    <x.div {...props}>
      <h1>{{pascalCase name}}</h1>
    </x.div>
  )
}

export default {{pascalCase name}}
