import { x } from '@xstyled/styled-components'

export type {{pascalCase name}}Props = {
  children?: React.ReactNode
}

const {{pascalCase name}} = ({ ...props }: {{pascalCase name}}Props) => (
  <x.div {...props}>
    <h1>{{pascalCase name}}</h1>
  </x.div>
)

export default {{pascalCase name}}
